.bet {
    background-image: url("/assets/images/Leo-Santana-Carlinhos.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.box-bet {
    display: flex;
    align-items: center;
   margin-top: -40%;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   gap: var(--spacing-xl);
}