.bet-section {
    background-image: url('/assets/images/Leo-Santana-Carlinhos.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.container.bet {
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    gap: var(--spacing-xl);
}


.container.bet h2 {
    font-size: clamp(1.5rem, 2vw + 0.5rem, 2.5rem);
    line-height: 1.5;
    max-width: 500px;
}

@media (max-width: 1024px) {
    .bet-section {
        background-image: url('/assets/images/Mobile-Carlinhos-Leo.webp');
        background-position: bottom;
    }
}