button:hover, .btn:hover {
    cursor: pointer ;
    transform: translateY(-2px) scale(1.04);
    box-shadow: var(--shadow-elevate-y);
}

a:hover, select:hover {
    cursor: pointer;
}

.button:active, .btn:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: var(--shadow-sm);
}

/* Estilos dos botões */
.btn {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-md);
    border: 2px solid transparent;
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--green-color);
    color: white;
    border-color: var(--green-color);
    box-shadow: var(--shadow-sm);
}

.btn-secondary {
    color: var(--text-secondary);
    background-color: white;
    box-shadow: var(--shadow-sm);
}
