.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  width: 100%;
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-md);
  transition: all 0.4s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: var(--border-radius-md);
  -moz-border-radius: var(--border-radius-md);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  max-width: 220px;
}

.btn-primary {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: var(--text-primary);
  color: var(--primary-color);
  font-size: var(--font-sm);
}

.btn-primary:hover {
  color: var(--secondary-color);
  background-color: #f7f7f7;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  max-width: 250px;
}

.btn-secondary:hover {
  background-color: #071092;
}

.btn-outline {
  background-color: rgba(49, 49, 49, 0.15);
  color: white;
  border: 1.5px outset white;
  max-width: 230px;
}

.btn-secondary,
.btn-outline {
  padding: var(--spacing-md) var(--spacing-lg);
}

.duo-btns {
  display: flex;
  gap: var(--spacing-md);
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-sm);
  width: 100%;
}

.bet-search {
  justify-content: center;
}

.btn-outline:hover {
  background-color: white;
  color: var(--primary-color);
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.04) translateY(-3px);
  box-shadow: var(--shadow-lg);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
}

.btn:active {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}

.btn.active {
  transform: scale(0.95) translateY(1px);
  box-shadow: none;
}

.btn-primary i {
  font-size: 15px;
  margin-left: 4px;
}

.btn-outline i {
  font-size: 20px;
  margin-left: 7px;
}

/* Firefox button fixes */
@-moz-document url-prefix() {
  .btn {
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
}

/* Safari button fixes */
@supports (-webkit-appearance: none) {
  .btn {
    -webkit-font-smoothing: antialiased;
  }
}

@media (max-width: 768px) {
  .btn {
    width: 100%;
    max-width: 190px;
  }

  .btn-primary.mobile {
    margin-right: var(--spacing-lg);
  }
}
