.container.footer {
    justify-content: space-between;
    flex-direction: row !important;
    min-height: auto;
    padding: var(--spacing-lg);
}

.footer-logo {
    width: clamp(3rem, 5vw, 4rem);
}

.footer-logo img {
    width: 100%;
    height: auto;
}